html,body{
     padding: 0;
     margin: 0;
     font-family: 'Roboto', sans-serif;
     overflow-x:hidden;
     min-height: 500px;
     color: #323232;
}
 h1,h2,h3,p,label,li{
     font-family: 'Roboto', sans-serif;
}
 #home{
     background: #fff;
}
 form{
     margin: 0
}
 .relative{
    position: relative;
}
 img{
     max-width: 100%;
}
 .cwhite{
     color: white
}
 .titleitem h2{
     padding: 10;
     margin: 0;
}
 .content500{
     width: 95%;
     margin:0 auto;
     max-width: 500px
}
 .logoinicio{
     max-width: 90%;
}
 .content700{
     width: 95%;
     margin:0 auto;
     max-width: 700px
}
 .contentlogin{
     text-align: center;
}
 .msglogin{
     width: 100%;
     max-width: 100%;
     left: 0;
     right: 0;
     position: fixed;
     top: 0;
     bottom: 0;
     display: none;
     text-align: center;
     left: 0;
     right: 0;
     z-index: 9999;
}
 .msglogin::before{
     display: block;
     content: "";
     position: absolute;
     background: white;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1;
     opacity: 0.6;
     filter: alpha(opacity=60);
}
 .msglogin button{
     display: inline-block;
     width: 100%;
     border: 0;
     border-top: 2px solid #999999;
     background: transparent;
     padding: 10px 0 0 0;
     font-weight: bold;
     color: #fff;
     font-size: 16px;
}
 .msgresp{
     width: 98%;
     max-width: 400px;
     margin: 15% auto;
     background: #0c3a56;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     padding: 2% 0 2% 0;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     position: absolute;
     z-index: 2;
     color: #fff;
}
 .menurayas i{
     font-size: 25px;
     margin: 12px 10px;
     color: #fff;
}
 .width95{
    width: 95%
}
 .width90{
    width: 90%
}
.width25{
   width: 25%
}
 .width50{
    width: 50%
}
 .width45{
    width: 45%
}
 .width33{
    width: 33.3333%
}
 .center{
     margin: 0 auto
}
 .efectosombra{
     -webkit-box-shadow: -1px 9px 5px -6px rgba(158,158,158,1);
     -moz-box-shadow: -1px 9px 5px -6px rgba(158,158,158,1);
     box-shadow: -1px 9px 5px -6px rgba(158,158,158,1);
}
 .itemhpro{
     background: white;
     padding: 2%;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 5px;
     -webkit-box-shadow: -1px 1px 10px -3px rgba(0,0,0,1);
     -moz-box-shadow: -1px 1px 10px -3px rgba(0,0,0,1);
     box-shadow: -1px 1px 10px -3px rgba(0,0,0,1);
     margin: 20px auto;
     text-align: center;
}
 .itemhpro h2{
   font-size: 20px;
}
 .itemhpro button{
  background: #027ec0;
      margin: 0 0 20px 0;
      color: white;
      border: 0;
      padding: 10px;
      border-radius: 5px;
      width: 90%;
      max-width: 200px;
}
 .productoshome img{
     max-width:
}
 .contentproductoshome .itemhpro h2, .sectioncategoriasid .itemcontidcat h2{
     margin: 10px 0 10px 0;
     font-size: 16px;
     height: 40px;
     color: #444;
}
 .contentproductoshome .itemhpro label, .sectioncategoriasid .itemcontidcat label{
     color: #949292;
     font-weight: bold;
}
 .titleh1{
     font-size: 20px;
     text-align: center;
     margin: 30px 0 0 0;
     color: #323c3f;
}
 .menupuntos{
     color: #fff;
     font-size: 25px;
     margin: 15px 10px 0 0;
}
 .msgresp p{
     color: #fff
}
 .msglogin h3{
     color: #fff;
     margin: 0;
}
 .closenoti{
     position: absolute;
     right: 0;
     top: 10%;
}
 .clr{
    clear: both;
}
 .height30{
    height: 30px;
}
 .height50{
    height: 50px;
}
 .bazul{
    background: #00609c;
}
 .cazul{
    color: #67C;
}
 .bazulc{
    background: #7dd3e0;
}
 .cazulc{
    color: #2c458a;
}
 .width100{
    width: 100%
}
 .tcenter{
    text-align: center;
}
 .fleft{
    float: left;
}
 .fright{
    float: right;
}
 .contentinicio{
     text-align: center;
     top: 30%;
     position: relative;
}
 .content90{
     margin: 0 auto;
     width: 90%;
}
 .pinicio{
     width: 90%;
     margin: 15% auto;
     position: relative;
     clear: both;
}
 .imgfooter{
     position: absolute;
     bottom: 0;
     width: 100%;
     z-index: 1
}
 .sombracontact, .sombracontactp, .sombracontactupd {
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     z-index: 9999999;
     display: none;
}
 .sombracontact::before, .sombracontactp::before, .sombracontactupd::before {
     display: block;
     content: "";
     position: absolute;
     bottom: 0;
     top: 0;
     left: 0;
     right: 0;
     background: black;
     opacity: 0.5;
     filter: alpha(opacity=50);
}
 .dcodeupd {
     position: fixed;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     width: 95%;
     max-width: 400px;
     background: white;
     z-index: 999999999;
     top: 10%;
     display: none;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     text-align: center;
     color: #8e8e8e;
}
 .dcodeupd button,.sectionaperfil button{
     clear: both;
     width: 39%;
     margin: 20px;
     color: white;
     font-size: 18px;
     padding: 5px 0 5px 0;
     border: 0;
     background: #00609c;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
}
 .imgefecto{
     position: absolute;
     bottom: 0;
     z-index: 1;
     width: 100%;
     left: 0;
     right: 0;
}
 .labels{
     font-size: 15px;
     clear: both;
     display: block;
     width: 100%;
     padding: 5px;
     color: #b4c631;
}
 .formlogin, .formregister{
     text-align: center;
     width: 90%;
     margin: 1% auto;
     max-width: 300px;
     min-height: 270px
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #fff;
   opacity: 0.7;
   font-size: 16px;
   font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity: 0.7;
   font-size: 16px;
   font-weight: 100;
}
::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #fff;
   opacity: 0.7;
   font-size: 16px;
   font-weight: 100;
}
 ::-ms-input-placeholder { /* Microsoft Edge */
   color:   #fff;
   opacity: 0.7;
   font-size: 16px;
   font-weight: 100;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}
 .formregister{
     display: none;
}
 .form input[type="text"], .form input[type="number"], .form input[type="email"], .form textarea{
     width: 90%;
     padding: 10px 5px 10px 5px;
     border: 0;
     border-bottom: 1px solid #ffffff;
     color: #fff;
     font-size: 20px;
     text-align: center;
     margin: 0 0 20px;
     background: transparent;
}
 .form textarea{
     min-height: 120px;
     text-align: left;
     color: #777575;
     font-size: 16px;
     border: 1px solid #2c458a;
     border-radius: 10px;
}
 .form button{
     color: white;
     border: 0;
     padding: 5px;
     font-size: 18px;
     margin: 30px auto;
     width: 60%;
     background: transparent;
     border-bottom: 1px solid #fff;
}
 .form .linklogin{
     clear: both;
     display: inline-block;
     width: 100%;
     color: #fff;
     text-decoration: none;
     border-bottom: 1px solid #fff
}
 .form .linkregistrar{
   color: white;
   border: 0;
   padding: 2px 0 2px 0;
   font-size: 18px;
   margin: 5px auto 0 auto;
   width: 60%;
   border-bottom: 1px solid #fff;
}
 .btninvitado{
     clear: both;
     color: #00609c;
     border-bottom: 1px solid #b4c531;
     cursor: pointer;
}
 .titledia{
     font-family: 'Satisfy', cursive;
     color: #B4C531;
     font-size: 20px
}
 .imgdestreceta{
     width: 90%;
     margin: 5%;
}
 .logomini {
     margin: 5px auto;
     width: 50px;
}
 .tplinicio{
   background: #196CA6;
   border-top: #004E8B 20px solid;
}
 .logoblanco{
     margin-top: 4%;
     position: relative;
     margin-bottom: 5%;
}
 .recetadestacada h3{
     text-align: right;
     position: absolute;
     width: 85%;
     right: 17%;
     bottom: 0;
     z-index: 2;
     color: #B4C531;
     font-family: 'Satisfy', cursive;
     font-size: 25px;
     margin: 0 0 10px 0;
}
 .contentdias h2{
     float: left;
     color: #00609c;
     border-bottom: 1px solid #B4C531;
     margin: 0 5% 5% 5%;
     font-size: 18px;
     text-transform: capitalize;
}
 .bjadias{
     position: relative;
}
 .bjadias .content90 img{
     margin: 10px;
}
 .semanadias .itemdias{
     width: 50%;
     float: left;
     text-align: center;
     margin: 20px 0 10px 0;
}
 .semanadias .contitemdias{
     width: 90%;
     margin: 0 auto;
     text-align: left;
     overflow: hidden;
}
 .semanadias .contitemdias img{
     width: 100%;
}
 .semanadias .contitemdias h3{
     position: absolute;
     bottom: 0;
     margin: 0;
     color: #00609c;
     font-size: 20px;
     font-family: 'Satisfy', cursive;
     background: url(../img/transparencia.png);
     width: 100%;
     padding: 5px;
}
 .contentreceta{
     display: none;
}
 .contentreceta .text{
     font-size: 14px;
     color: #939196;
}
 .contentreceta strong{
     color: #939196;
}
 .contentreceta .ingreul{
     padding: 0 0 0 5px
}
 .contentreceta .ingreul li{
     list-style: none;
     color: #939196;
     background: url(../ico/vineta.png) left center no-repeat;
     padding: 5px 0 5px 15px;
}
 .volver{
     margin: 0 0 20px 0;
     color: red;
     text-decoration: underline;
}
 .menuabout{
     display: none;
     background: #B4C531;
    ;
     color: white;
     text-align: center;
     z-index: 999999;
     position: absolute;
     top: 50px;
     width: 100%;
     min-height: 50px;
     padding: 10px;
}
 .menuperfil{
     display: none;
     background: #fff;
     color: white;
     text-align: center;
     z-index: 9999999;
     position: absolute;
     top: 50px;
     width: 100%;
     min-height: 50px;
     padding:0;
}
 .headerperfil{
     padding: 20px 0 0 0;
     border-bottom: 1px solid #00609c;
     margin-bottom: 20px;
}
 .headerperfil h2{
     color: #636363;
     float: left;
     width: 90%;
     text-align: left;
     margin: 0 0 0 5%;
     font-weight: normal;
     font-size: 22px;
}
 .headerperfil h3{
     color: #636363;
     font-size: 16px;
     float: left;
     margin: 10px 0 20 5%;
     font-weight: 100;
}
 .perfilcontent {
}
 .perfilcontent ul{
     margin: 0;
     padding: 0 0 0 0;
}
 .perfilcontent li{
     color: #636363;
     list-style: none;
     text-align: left;
     margin: 10px 0 10px 0;
     font-size: 18px;
     border-bottom: 1px solid #e8e8e8;
     padding: 10px 0 10px 0;
}
 .perfilcontent li img{
     color: #636363;
     text-align: left;
     float: left;
     margin: 0 10px 0 20px;
}
 .sectionapoliticas p,.sectionaterminos p,.sectionapqrs p{
     font-size: 14px;
     color: #847f7f;
}
 .sectionapoliticas h3,.sectionaterminos h3,.sectionapqrs h3{
     color: #2c458a;
}
 .contlicat,.headidcat{
     position: relative;
     text-align: center;
}
 .contlicat:after,.headidcat:after{
     display: block;
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: 2;
     opacity: 0.5;
     filter: alpha(opacity=50);
}
 .headidcat h3{
     font-size: 25px;
     color: #ffffff;
     position: absolute;
     top: 25%;
     left: 0;
     z-index: 9;
     text-align: center;
     width: 100%;
}
 .itemcontidcat{
     text-align: center;
     margin-bottom: 10px;
     margin-top: 5px;
}
 .itemcontidcat h3{
     font-size: 14px;
     margin: 5px;
     height: 50px;
     color: #828181;
}
 .itemcontidcat .item{
     border: 1px solid #e8e8e8;
     -webkit-border-bottom-right-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-radius-bottomright: 5px;
     -moz-border-radius-bottomleft: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     -webkit-box-shadow: 1px 2px 5px 0px rgba(173,168,173,1);
     -moz-box-shadow: 1px 2px 5px 0px rgba(173,168,173,1);
     box-shadow: 1px 2px 5px 0px rgba(173,168,173,1);
}
 .contlicat h3{
     float: left;
     font-size: 25px;
     color: #ffffff;
     position: absolute;
     bottom: 0;
     left: 5%;
     z-index: 9;
}
 .licatcant{
     font-size: 30px;
     color: #ffffff;
     position: absolute;
     bottom: 5%;
     right: 4%;
     z-index: 9;
     display: block;
     width: 100px;
     text-align: center;
}
 .licatcant label{
     font-size: 14px;
}
 .sectionapoliticas,.sectionaperfil,.sectionaterminos,.sectionapqrs,.sectionhistorias,.sectiontransacciones{
     display: none;
     padding: 30px 0 60px 0;
}
 .sectioncategorias,.sectioncategoriasid,.sectionmostrar,.sectionproducto,.sectioncarro {
     display: none;
     padding: 0;
     overflow: hidden;
}
.itemslidecathome{
  position: relative;
}
.itemslidecathome h3{
  position: absolute;
  bottom: 0;
  left: 5px;
  color: white;
}
 .sectionaperfil h3{
     background: #00609c;
     color: white;
     text-align: center;
     margin: 0;
     padding: 10px;
     font-weight: bold;
     font-size: 20px;
     margin: 0 0 20px;
}
.bx-wrapper img {
    border-radius: 10px;
}
 .sectionaperfil .inputs{
     background: #ffffff;
     border: 0;
     padding: 10px;
     width: 98%;
     font-size: 18px;
     color: #525252;
     margin-bottom: 30px;
}
 .sectionaperfil p{
     font-size: 14px;
     color: #777775;
     padding: 0;
     margin: 0;
}
 .msgperfil{
     color: red;
     text-align: center;
     font-size: 16px;
}
 .smtituloreceta{
     color: #00609c;
     text-transform: capitalize;
}
 .sectionmostrar,.sectionmostrar li{
     color: #867e7e;
     font-size: 14px;
}
 .detallereceta ul,.contentingredientes ul{
     margin: 20px 0 20px 0;
     padding: 0 0 0 10px;
}
 .detallereceta li,.contentingredientes li{
     font-size: 14px;
     padding: 10px 0 2px 0;
     list-style: none;
     color: #1b1b1b;
     border-bottom: 1px solid #d0cbcb;
}
 .detallereceta li label,.contentingredientes li label{
     float: right;
     margin: 0 10px 0 0;
     display: block;
     min-width: 60px;
     text-align: center;
     color: #7d7d7d;
}
 .contentpasos {
     margin: 20px 0 20px 0;
}
 .contentpasos h3{
     color: #00609c;
}
 .contentpasos a{
     color:#B4C531;
     text-decoration: none;
}
 .pace {
     -webkit-pointer-events: none;
     pointer-events: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
     position: fixed;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     z-index: 9999999999999;
     background: white;
     top: 0;
}
 .pace.pace-inactive .pace-progress {
     display: none;
}
 .pace .pace-progress {
     position: fixed;
     z-index: 2000;
     height: 240px;
     width: 240px;
     -webkit-transform: translate3d(0, 0, 0) !important;
     -ms-transform: translate3d(0, 0, 0) !important;
     transform: translate3d(0, 0, 0) !important;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     top: 30%;
}
 .pace .pace-progress:after{
     display:none;
     position: absolute;
     content: attr(data-progress-text);
     font-weight: 600;
     font-size: 4rem;
     line-height: 2.5em;
     text-align: center;
     color: #38474f;
     border-radius: 200px 200px 200px 200px;
     -moz-border-radius: 200px 200px 200px 200px;
     -webkit-border-radius: 200px 200px 200px 200px;
     border: 0px solid #e2464a;
     padding: 20px;
     width: 200px;
     height: 200px;
}
 .pace-inactive{
     display: none;
}
 .pace-progreslogo{
     position: absolute;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     width: 150px;
     bottom: 10px;
     text-align: center;
}
 .pace-progreslogo img{
     width: 95%;
}
 .contentingredientes, .contentutensilios{
     width: 95%;
     margin:0 auto;
     font-size: 14px
}
 .ui-tooltip-content{
     width: 90%;
     margin: 0 0 0 2%;
     background: white;
     padding: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     color: #00609c;
     text-align: center;
     -webkit-box-shadow: 13px 20px 34px -17px rgba(0,0,0,0.75);
     -moz-box-shadow: 13px 20px 34px -17px rgba(0,0,0,0.75);
     box-shadow: 13px 20px 34px -17px rgba(0,0,0,0.75);
     max-width: 300px;
     border: 1px solid #b4c531;
}
 .iniciarcocinar {
     background: #b4c531;
     border: 0;
     color: #00609c;
     padding: 10px 20px 10px 20px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     font-weight: bold;
     font-size: 20px;
     margin: 0 auto;
     width: 200px;
     float: none;
     cursor: pointer;
}
 .titulopro{
     background: white;
     max-width: 600px;
     padding: 20px 10px 20px 10px;
     width: 95%;
     margin: 0 auto;
}
 .titulopro p{
     float: left;
     font-size: 20px;
     padding: 10px 0 0 0;
     margin: 0;
}
 .titulopro button {
     float: right;
     background: red;
     border: 0;
     padding: 10px;
     color: white;
     font-size: 20px;
}
 .rojo{
     background: red;
}
 .cuadro{
     width: 20px;
     height: 20px;
     padding: 10px;
     margin: 0 auto;
     color: white
}
 .sombraredonda{
     -webkit-border-bottom-right-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-radius-bottomright: 5px;
     -moz-border-radius-bottomleft: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     -webkit-box-shadow: 1px 2px 5px 0px rgba(173,168,173,1);
     -moz-box-shadow: 1px 2px 5px 0px rgba(173,168,173,1);
     box-shadow: 1px 2px 5px 0px rgba(173,168,173,1);
     padding: 5px 5px 10px 5px;
     background: white;
     margin-bottom: 15px;
     margin-top: 10px;
}
 .btncomprar {
     -moz-border-radius: 10px;
     margin: 40px 0 50px 0;
     display: block;
}
 .footer {
   clear: both;
   text-align: center;
   padding: 8px 0 5px 0;
   background: #402805;
   height: 50px;
   position: fixed;
   width: 100%;
   bottom: 0;
   z-index: 9999
}
 .footer a{
     text-decoration: none;
     display: block;
     text-align: center;
}
.contfooter{
  max-width: 300px;
  margin: 0 auto;
}
 .footer h2{
     font-size: 18px;
     color: #636161;
}
 .footer h2:after{
     display: block;
     content: "";
     background: #2c458a;
     width: 50px;
     height: 1px;
     margin: 10px auto 50px auto;
}
 .footer p{
     font-size: 17px;
     color: #2f2f2f;
}
 .footer a{
     color: #2c458a;
     font-size: 18px;
}
 .product_valores{
     background: #2c458a;
     padding: 10px 40px 10px 40px;
     text-align: center;
     max-width: 160px;
     margin: 0 auto;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
}
 #input_agregar{
     text-align: center;
     width: 70px;
     font-size: 25px;
     border: 0;
     float: left;
     padding: 2px 0 2px 0;
}
 #btn_agregar{
     background: #f0943e;
     border: 0;
     color: white;
     padding: 10px;
     float: right;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5p;
     font-size: 14px;
}
 .itemcompra{
     width: 90%;
     margin: 0 auto;
     border-bottom: 1px solid #e4e1e1;
     padding: 5px 0 0 0;
     position: relative;
}
 .itemcompra .imgcar{
     float: left;
     margin: 0 20px 20px 0;
}
 .itemcarcont{
}
 .itemcarcont h2{
     margin: 10px 0 10px 0;
     font-size: 18px;
     text-transform: capitalize;
}
 .itemcarcont p{
     margin: 0;
     color: #a5a0a0;
     font-weight: normal;
}
 .quienapoyar{
     background: #ececec;
     text-align: center;
     padding: 10px;
}
 .quienapoyar h3{
     margin: 0 0 10px 0;
     color: black;
}
 .quienapoyar select{
     padding: 10px;
     text-align: center;
     width: 80%;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     font-size: 16px;
}
 .itemcarcant{
    position: relative;
    float: right;
    background: #67b0bc;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    bottom: 15%;
    margin: 0 10px 0 10px;
}
.editcarpro{
     position: absolute;
     right: 2%;
     top: 10%;
     z-index: 9
}
 .itemcartotal{
     font-size: 17px;
     color: #6d6d6d;
}
 .irapagar{
     background: #67b0bc;
     border: 0;
     color: white;
     width: 80%;
     font-size: 22px;
     margin: 10%;
     float: none;
     padding: 10px 0 10px 0;
}
 .sectioncarro .detalle{
     text-align: center;
}
 .sectioncarro .detalle h2{
     text-align: center;
     font-size: 16px;
}
 .sectioncarro .detalle p{
}
 .social{
     text-align: center;
     height: 120px;
     max-width: 140px;
     margin: 0 auto;
}
 .social a{
     text-decoration: none;
     display: block;
     float: left;
     margin: 10px;
}
.bannerayuda{
  margin: 30px 0 20px 0;
}
.atributosproc .checkbox{
  display: none;
}
.checkbox{
  float: left;
  font-size: 22px;
  margin: 10px;
}
.checkbox input[type="radio"]{
  width: 20px;
    height: 20px;
    display: block;
    float: left;
}
.checkbox   input[type="checkbox"]:checked + label::after,
.checkbox .checkbox-yellow input[type="checkbox"]:checked + label::after,
.checkbox .checkbox-green  input[type="checkbox"]:checked + label::after,
.checkbox .checkbox-blue   input[type="checkbox"]:checked + label::after,
.checkbox .checkbox-black  input[type="checkbox"]:checked + label::after
{color: red;}
.iniciaruta{
  background: #006EA5 url(../img/bicimini.png) center top no-repeat;
  text-align: center;
  padding: 10px 0 10px 0;
  position: fixed;
  bottom: 60px;
  width: 100%;
}
.iniciaruta button{
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    color: white;
    border-radius: 0;
    font-size: 16px
}
.itemtra{
  border-bottom: 1px solid #2c458a;
  padding: 0 0 10px 0;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: #2c458a;
}

.listbike li a{
  color: #2c458a;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px 0;
}
.listbike li{
  color: #2c458a;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px 0;
}
.listbike li span{
  float: right;
  color: black;
}
